.navbarRC {
  margin-bottom: 0;
  background-color: white;
  position: fixed;
  z-index: 100000;
  width: 100%;
  font-family: "Corbel";

}

.margin-Left {
  margin-left: 20vw;
}

.padding-left {
  padding-left: 15vw;
}

.padding-right {
  padding-right: 15vw;
}

.brand {
  font-size: 25px;
  @media (max-width: 768px) {
    font-size: 4vh;

  }
}
