.main-window {
  background-image: url("../images/BackGroundExcavator.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#USŁUGI_BUDOWLANE{

}

.window_field{
  background-image: url("../images/background-fild.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}