#prezentacjeVideo {
  background-color: white;
  margin-top: 10px;
  min-height: 200px; }

video {
  max-width: 500px;
  height: auto; }

.shadow {
  -webkit-box-shadow: 5px 5px 25px #727272;
  box-shadow: 5px 5px 25px #727272; }

.videoRC {
  width: 100%;
  height: 315px; }
